/* INTRODUCTION-INTERNAL */
.internal_about {
  background: url("../img/bg-sobre.jpg") no-repeat center;
  background-size: cover;
}

/* ABOUT US */
.mission_about {
  padding-top: 60px;
}

.mission_about p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.mission_about ul li {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 30px;
}

.photo-team {
  padding-top: 20px;
}