/* GENERAL STYLES */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
}

.btn {
  border: 3px solid #fec63e; 
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
}

.btn:hover {
  color: #fff;
  border-color:#fff;
}

.btn.btn-dark:hover {
  color: #000;
  border-color:#000;
}

.subtitle{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto ;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec63e;
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li  a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li  a:hover {
  color: #FFF;
}

/* INTRODUCTION */
.introduction {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}

.introduction h1 {
  font-size: 48px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-external {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: white;
}

.quote-external p {
  font-style: italic;
}

.quote-external p:before, .quote-external p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote-external cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
}


/* PRODUCTS */
.products {
  padding: 60px 0;
}

.products_list li {
  background: #fec63e;
  text-align: center;
}

.products_list li  h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
}

.products_list li  h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto ;
}

.products_list li  p {
  padding: 10px 20px 20px 20px;
}

.products_icone {
  background: #000;
  padding: 20px;
}

.call-to-action {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call-to-action p {
  margin-bottom: 20PX;
}


/* PORTFOLIO */
.portfolio {
  width: 100%;
  background: #000;
  padding: 40px 0;
}

.portfolio .subtitle {
  color: #fec63e;
}

.portfolio .subtitle:after {
  background: #fec63e; 
}

.portfolio_list li:last-child {
  margin-top: 20px;
}

.portfolio .call-to-action p {
  color: #fff;
}

/* QUALITY */
.quality {
  padding: 60px 0;
}

.quality:after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  top: 209px;
  right: 162px;
  z-index: -1;
}

.quality img {
  margin: 0 auto;
}

.quality_list {
  padding-top: 20px;
}

.quality_list li {
  text-align: center;
  padding: 0 40px;
}

.quality_list li  h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
}

.quality_list li  h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto ;
}